<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>在线考试系统</title>
	<link rel="shortcut icon" th:href="@{/static/favicon.ico}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!--[if lt IE 8]>
	<meta http-equiv="refresh" content="0;ie.html" />
	<![endif]-->
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/jquery-ui.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/ui.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/welcome.css}" />
	<link rel="stylesheet" th:href="@{/static/js/skin/layer.css}"/>
	<link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/static/css/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/static/css/bootstrap-table.css}" rel="stylesheet">
    <style>
        h2{font-size:14px; margin:20px 0 10px 0;}
        .tm_a{
            color: #000;
            font-size: 9pt;
            font-weight: bold;
            cursor: pointer;
            text-decoration: underline;
        }
        .tm_blocker2{float:left; width:960px;}
    </style>

</head>
<body marginwidth="0" marginheight="0" style="">
<div class="tm_main" style="min-width:1000px">
	<div class="tm_container">
		<ul class="tm_breadcrumb">
			<li>首页</li>
		</ul>
	</div>
	<div class="tm_container">
		<div class="tm_navtitle">
			<h1>欢迎使用</h1>
			<span>欢迎使用在线考试系统</span>
		</div>
	</div>
	<div class="tm_container">
		<div class="tm_blocker2">
			<h2>进行中的考试</h2>
			<table width="100%" cellpadding="10" border="0" class="tm_table_list" id="table">
			</table>
		</div>
	</div>

	<div class="tm_container">
		<div class="tm_blocker2">
			<h2>参加过的考试</h2>
			<table width="100%" cellpadding="10" border="0" class="tm_table_list" id="lastTable">
			</table>
		</div>
	</div>
	<div class="tm_container"></div>
</div>
<p>&nbsp;</p>
<script th:src="@{/static/js/jquery-3.3.1.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/static/js/bootstrap.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/static/js/bootstrap-table.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/static/js/bootstrap-table-editable.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/static/js/bootstrap-table-zh-CN.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/static/js/layer/layer.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/static/js/bootstrap-editable.min.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var tm = {
        startExam : function(obj, paperId,uuid){
           window.open('../user/paper/'+paperId+"/"+uuid+".html");
        },
        detail : function(paperId){
            window.location.href='../user/detail/'+paperId+".html";
        }
    };
</script>
<script type="text/javascript" th:inline="javascript">
    var table = $('#table');
    table.bootstrapTable({
        contentType: "application/x-www-form-urlencoded",
        method:'get',
        url: '../user/index/json' ,
        pagination: false,//是否开启分页（*）
        columns: [
            {
                title: '序号',
                align: 'center',
                formatter: function(value, row, index){
                    return [index+1].join('');
                }
            },{
                field: 'paperName',
                title: '试卷名称',
                align: 'center',
                sortable:true,
            }, {
                title: '时间设定',
                align: 'center',
                formatter:function (value,row,index) {
                    return row.startTime+"<br>"+row.endTime;
                }
            }, {
                field: 'paperMinute',
                title: '考试时长(分钟)',
                align: 'center',
            }, {
                field: 'paperTypeName',
                title: '试卷类型',
                align: 'center',
            }, {
                field: 'totalScore',
                title: '卷面总分',
                align: 'center',
            }, {
                field: 'passScore',
                title: '及格分数',
                align: 'center',
            },{
                field: 'option',
                title: '操作',
                align: 'center',
                formatter: function (value,row,index) {
                    return "<a href=\"javascript:void(0)\" class='tm_a' onclick=\"javascript:tm.startExam(this,'"+row.paperId+"','"+row.uuid+"');\">点击参加</a>";
                }
            }],
    });
    var lastTable = $('#lastTable');
    lastTable.bootstrapTable({
        contentType: "application/x-www-form-urlencoded",
        method:'get',
        url: '../user/index/last/json' ,
        height: 400 ,
        pagination: true,//是否开启分页（*）
        pageNumber: 1,//初始化加载第一页，默认第一页
        pageSize: 50,//每页的记录行数（*）
        pageList: [30, 50, 100,150],//可供选择的每页的行数（*）
        sidePagination: "client", //分页方式：client客户端分页，server服务端分页（*）
        columns: [
            {
                title: '序号',
                align: 'center',
                formatter: function(value, row, index){
                    return [index+1].join('');
                }
            },{
                field: 'paperName',
                title: '试卷名称',
                align: 'center',
                sortable:true,
            }, {
                title: '考试时间',
                align: 'center',
                formatter:function (value,row,index) {
                    return row.startTime+"<br>"+row.endTime;
                }
            }, {
                field: 'paperMinute',
                title: '考试时长(分钟)',
                align: 'center',
            }, {
                field: 'passScore',
                title: '及格分数',
                align: 'center',
            }, {
                field: 'resultScore',
                title: '最终得分',
                align: 'center',
            }, {
                field: 'resultMinute',
                title: '考试耗时(分钟)',
                align: 'center',
            },{
                field: 'option',
                title: '操作',
                align: 'center',
                formatter: function (value,row,index) {
                    return "<a href=\"javascript:void(0)\" class='tm_a' onclick=\"javascript:tm.detail('"+row.paperId+"');\">详情</a>";
                }
            }],
    });
</script>
</body>
</html>