<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>在线考试系统</title>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/jquery-ui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/ui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/font-awesome.min.css?v=4.4.0}">
</head>
<body  marginwidth="0" marginheight="0" style="">
<div class="tm_menu">

    <div class="tm_menu_item clearfix">
        <h2><a href="javascript:void(0);" onclick="tm_toggle_menu(this)" class="tmc_menu_account">用户管理</a></h2>
        <ul>
            <li class="itemon"><a th:href="@{/system/user/list}" target="main">用户列表</a></li>
            <li><a th:href="@{/system/user/student/list}" target="main">学生列表</a></li>
            <li><a th:href="@{/system/user/student/major/list}" target="main">专业列表</a></li>
        </ul>
    </div>
    <div class="tm_menu_item clearfix">
        <h2><a href="javascript:void(0);" onclick="tm_toggle_menu(this)" class="tmc_menu_paper">考试管理</a></h2>
        <ul>
            <li><a th:href="@{/system/paper/list}" target="main">试卷列表</a></li>
        </ul>
    </div>
    <div class="tm_menu_item clearfix">
        <h2><a href="javascript:void(0);" onclick="tm_toggle_menu(this)" class="tmc_menu_qdb">题库管理</a></h2>
        <ul>
            <li><a th:href="@{/system/qdb/course/list}" target="main">科目列表</a></li>
            <li><a th:href="@{/system/qdb/list}" target="main">题库列表</a></li>
            <li><a th:href="@{/system/qdb/question/list}" target="main">试题列表</a></li>
        </ul>
    </div>

    <div class="tm_menu_item clearfix">
        <h2><a href="javascript:void(0);" onclick="tm_toggle_menu(this)" class="tmc_menu_paper">成绩管理</a></h2>
        <ul>
            <li><a th:href="@{/system/score/list}" target="main">成绩分析</a></li>
        </ul>
    </div>
    <div class="tm_menu_item clearfix">
        <h2><a href="javascript:void(0);" onclick="tm_toggle_menu(this)" class="tmc_menu_account">个人信息</a></h2>
        <ul>
            <li><a th:href="@{/common/password.html}" target="main">修改密码</a></li>
            <li><a th:href="@{/common/profile.html}" target="main">帐户信息</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript" th:src="@{/static/js/jquery.js}"></script>
<script type="text/javascript" th:inline="javascript">
    function tm_toggle_menu(obj){
        $(obj).parent().siblings().toggle();
    }
    function tm_mark_current_menuitem(){
    }
    $(document).ready(function() {
        $(".tm_menu_item ul li a").click(function(){
            $(".tm_menu_item ul li").removeClass("itemon");
            $(this).parent().addClass("itemon");
        });

    });
</script>
</body>
</html>