<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>在线考试系统</title>
	<link rel="shortcut icon" th:href="@{/static/favicon.ico}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!--[if lt IE 8]>
	<meta http-equiv="refresh" content="0;ie.html" />
	<![endif]-->
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/jquery-ui.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/ui.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/welcome.css}" />
	<link rel="stylesheet" th:href="@{/static/js/skin/layer.css}" id="layui_layer_skinlayercss"/>
</head>
<body>
<script th:src="@{/static/js/jquery.js}"></script>
<script th:src="@{/static/js/layer.js}"></script>
</body>
</html>