<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.exam.dao.mapper.QuestionMapper">
    <select id="findQuestionsByCondition" resultType="TbQuestion" >
        select t.* from tb_question t
        <where>
            <if test="qdbKey != null and qdbKey !=''">
                AND t.qdb_id=#{qdbKey}
            </if>
            <if test="typeKey != null and typeKey !=''">
                AND t.q_type=#{typeKey}
            </if>
            <if test="levelKey != null and levelKey !=''">
                AND t.q_level=#{levelKey}
            </if>
            <if test="statusKey != null and statusKey !=''">
                AND t.q_status=#{statusKey}
            </if>
            <if test="contentKey != null and contentKey !=''">
                AND t.q_content like #{contentKey}
            </if>
        </where>
    </select>
</mapper>